body,
div,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}
/* div, ul, li {
  border: 1px solid grey;
} */

body {
  background: #e5e5e5;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.widget {
  height: 50%;
  width: 25%;
  background: white;
  flex-direction: column;
}

                              /* HEADER */
.widget__header {
  height: 18.681318681%;
  background: #fcdd6f;
  flex-direction: column;
  align-items: center;
}

.header__border-top {
  height: 2.652519893%;
  width: 100%;
  background: black;
}

.header__image {
  font-size: 5.5vmin;
  height: 57.647058823%;
  margin-top: 1.326259946%;
}

.header__text {
  margin-top: 0.530503978%;
  font-size: 2vmin;
}

                              /* MAIN */

.list {
  height: 73.186813186%;
  flex-direction: column;
  /*   overflow: hidden; */
}

.list__item {
  flex-basis: 33.33333333%;
  width: 128.912466844%;
  border-bottom: 1px solid #c9c9c9;
  background: white;
}

.person__avatar {
  border: 1px solid gray;
  width: 21.193415637%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar__loading-icon {
  font-size: 5vmin;
  color: lightgray;
}

.avatar__image {
  position:absolute;
  top: center;
  left: center;
  border: 1px solid lightgray;
  width: 7vmin;
  height: 7vmin;
  border-radius: 50%;
}

.person__info {
  border: 1px solid gray;
  width: 45.267489711%;
  flex-direction: column;
  justify-content: center
}

.person__name {
  font-size: 3vmin;
}

.person__address {
  font-size: 1.5vmin;
}

.person__twitter {
  color: #C7C7C7;
  font-size: 2vmin;
}








.person__options-arrow {
  border: 1px solid gray;
  width: 11.111111111%;
  font-size: 6vmin;
  align-items: center;
  justify-content:  center;
}

.person__delete {
  border: 1px solid gray;
  width: 22.427983539%;
}

                              /* FOOTER */

.widget__refresh {
  background: #fcdd6f;
  height: 8.131868131%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2vmin;
}
