body,
div,
span,
iframe,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
big,
cite,
code,
em,
img,
ins,
q,
s,
small,
strong,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav,
input {
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}
/* div, ul, li {
  border: 1px solid grey;
} */

body {
    background: #E5E5E5;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.proportional-container {
  flex-basis: 30%;
  padding-bottom: 36.2068965517%;
  height: 0;
  position:relative;
}

.widget {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  flex-direction: column;
}

.widget__header {
   height: 18.681318681%;
   background:#FCDD6F;
   flex-direction:column;
   align-items: center;
}

.header__border-top {
  height: 3.94117647%;
  width: 100%;
  background: black;
}

.header__image {
  width: 13.262599469%;
  height: 57.647058823%;
  margin-top: 10px;
}



.list {
  flex-basis: 73.186813186%;
  flex-direction:column;
}

.list__item {
  flex-basis: 33.33333333%;
  border-bottom: 1px solid #C9C9C9;
}

.widget__refresh {
  background: #FCDD6F;
  flex-basis: 8.131868131%;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 2vmin;
}
